@font-face {
    font-family: "nobel", sans-serif;
    font-weight: "300";
    src: url("fonts/nobel.ttf");
}

body>div {
    overflow-x: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    color: #4A4A4A;
    font-family: "nobel", sans-serif;
    font-size: 24px;
    overflow-x: hidden;
    position: relative;
}


.picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 2%;
    flex: auto;
    z-index: -2;
    overflow: hidden;
}

#splash .col-1-3 {
    margin: auto 0;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 5em;
    margin-bottom: 0.125em;
}

h2 {
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    color: #EA7E3C;
    font-weight: 700;
    margin: 0;
    font-size: 2vw;
}

.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.banner {
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 20%;
}

.section-title {
    width: 100%;
    font-size: 3em;
    margin: .5em auto;
    text-align: center;
    color: #ea7e3c;
    font-weight: 700;
}

#about {
    margin: 3em 0;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    font-size: 1.125em;
    flex-wrap: wrap;
}

#about-container {
    width: 70%;
    min-width: 200px;
    max-width: 700px;
}

#faq {
    margin-top: 15%;
    display: flex;
    align-items: stretch;
}

#faq-banner {
    background-image: url(assets/sidefaq.svg);
    background-position: center;
    order: 1;
}

#schedule {
    display: flex;
    align-items: stretch;
}

#schedule-banner {
    background-image: url('assets/sideschedule.svg');
    background-position: center;
    order: 0;
}

#schedule-container {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em 10% 1em;
}

.schedule-item {
    color: #43616d;
    font-size: 1.125em;
    font-weight: 550;
    line-height: 1.2;
    margin-bottom: 3px;
    position: relative;
}

.schedule-item-minor {
    text-align: left;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 3px;
}

.schedule-item-major {
    margin-top: 10px;
}

.schedule-item-time {
    float: left;
    position: absolute;
}

.schedule-item-desc {
    display: inline-block;
    position: relative;
    margin-left: 50%;
    text-align: left;
    padding-left: 35px;
    background-image: url('assets/dot.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px; 
}

.day-title {
    color: #ea7e3c;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-left: -1em;
    margin-bottom: .5em;
}

#faq a {
    color: #f9ac8e;
}

img {
    display: block;
}

#story {
    display: flex;
    align-items: stretch;
}


#story-awards-list {
    color: #43616d;
    font-size: 1.125em;
    margin: 0%;
    list-style-position: inside;
    /*    list-style-image: url('assets/dot.svg');*/
}

#story-awards-entry {
    background-image: url('assets/dot.svg');
    margin-bottom: 1em;
    padding-left: 50px;
    list-style: none;
    /*	background-image: url("../../images/checked_red.svg");*/
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 40px;
}

#story-quote-container {
    font-style: italic;
    font-size: 1.5em;
    margin: auto;
    max-width: 700px;
    min-width: 225px;
}

#story-description-container {
    font-size: 1.125em;
    width: 84.3%;
}

#story-description-text {
    font-weight: 700;
}

#story-banner {
    background-image: url('assets/rightsidestory.svg');
    background-position: 48%;
    order: 1;
    /* hardcoding position due to whitespace in design asset? */
}

#story-container {
    display: inline-flex;
    flex-direction: column;
    padding: 1em 10% 1em;
    flex-grow: 1;
    font-size: 24px;
}

#story-title {
    margin: .5em 0;
    text-align: left;
}

#einstein {
    font-size: .8em;
}

section {
    box-sizing: border-box;
    min-height: 50%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header {
    padding-top: 2em;
    flex: 0 1 auto;
    z-index: -1
}

#logo {
    margin-top: 7%;
    height: 10vh;
}

/* .container {
    flex: 1 1 auto;
    display: flex;
    margin-right: 10%;
    min-height: 100%;
} */


.picture-container {
    align-content: center;
    align-items: center;
}

#time {
    font-size: 1.2em;
    margin-top: 0;
}

span a {
    color: #43616d;
}

span a:hover {
    color: #f9ac8e;
}

.button {
    display: inline-block;
    border-radius: 75px;
    outline: none;
    font-weight: 500;
    background: #f9ac8e;
    border: none;
    font-size: 2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #eee;
    letter-spacing: 0.0625em;
    font: nobel;
    /* use google font */
    line-height: 2;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 53%;
    margin-top: -20%;
}

.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-radius: 75px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.button:hover,
.button:focus,
.button:active {
    color: #f9ac8e;
    cursor: pointer;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.map {
    margin-bottom: 2%;
    width: 50vh;
    height: 50vh;
}


p {
    color: #43616D;
    /* font-size: 1.25vw; */
}

b {
    font-weight: 700;
}

/*
.curtainup:hover{
  -webkit-transform-style: preserve-3d;
}

.curtainup:before,
.curtainup:after{
  -webkit-transform-origin: center center;
  -webkit-transform: scale(1,0);
}


.curtainup:hover:before,
.curtainup:hover:after{
  -webkit-transform: scale(1);
  border-radius: 0;
    cursor: pointer;
}
*/

a {
    color: white;
}

/*

#hero-img, #about-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
*/
/* 
#hero-img {
    background-image: url(assets/hero.png);
} */

#about-banner {
    /* background-image: url(assets/horizons-logo.png); */
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    /* background-size: contain; */
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
    padding: 1em;
    display: block;
    /* margin-right: -18%; */
}
#about-banner > img {
    min-height: inherit;
    min-width: auto;
    max-height: inherit;
    max-width: auto;
    display: inline-block;
}

footer {
    width: 100%;
    background-color: #f9ac8e;
    padding: 1.5em 10%;
    color: white;
    box-sizing: border-box;
    /* font-size: 1em; */
}

#footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#left-footer {
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

footer p {
    font-size: .8em;
    color: white;
}


#right-footer {
    text-align: right;
    vertical-align: top;
}

#right-footer img {
    height: 1.5em;
    position: relative;
    top: 0.25em;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social>a>img {
    width: 2em;
    transform: scale(1) rotate(0deg);
    transition: 0.25s transform;
}

#hackgt-logo {
    display: inline-block;
    position: relative;
    top: 10px;
}

.logo-name {
    font-family: 'Barlow', sans-serif;
}


#social>a>img:hover {
    transform: scale(1.15) rotate(15deg);
}

.info-container {
    padding: 0em 10%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.125em;
}

@media only screen and (min-width: 981px) {

    #about .col-2-3 {
        /*        margin-right: 2em;*/
        padding-top: 5%;
    }

    .info {
        margin-top: -5%;
    }

    h3 {
        font-size: 2.5em;
    }

    #about .col-1-3 {
        /*        margin: auto 0;*/
        padding-top: 5%;
        margin-bottom: 2em;
    }

    #faq {
        margin-top: -5%;
    }

    .col-1-2>div {
        margin-right: 8em;
    }

    #about-img {
        background-image: url(assets/horizons-logo.png);
    }

    section #about {
        min-height: 60%;

    }

}

@media only screen and (max-width: 980px) {

    body {
        font-size: 16px;
    }

    .container {
        flex-flow: column;
        margin-right: 15%;
        min-height: 100%;
    }

    .map {
        margin-bottom: 7%;
        width: 20vh;
        height: 20vh;
    }

    #about-img {
        background-image: url(assets/horizons-logo.png);
        margin-top: 20%;
    }

    #about {
        padding-top: 5%;
        left: 0;
    }

    section #about {
        min-height: 60%;
    }

    #about-banner {
        max-width: 200px;
        max-height: 200px;
        padding: 1em;
        display: block;
        /* margin-right: -18%; */
    }
    

    .info {
        margin-top: -5%;
    }

    .button {
        margin: 1em auto;
        display: block;
        font-size: 3vw;
    }

    #splash .col-1-3 {
        padding-bottom: 4em;
    }

    #splash .col-1-3>* {
        text-align: center;
    }

    .col-2-3 {
        margin-top: 1em;
        order: -1;
        margin-left: -2em;
        margin-right: -2em;
        min-height: 30%;
        max-height: 30%;
        margin-bottom: 30%;
    }

    .col-1-3 {
        margin-bottom: 1em;
        order: 1;
    }

    .col-1-2 {
        max-width: 100%;
    }

    #logo {
        height: 5vh;
    }

    span a {
        display: block;
    }

    h1 {
        letter-spacing: 0.1em;
        font-size: 4em;
    }

    #right-footer {
        text-align: right;
    }

    .button {
        width: 40%;
    }
    
    .info-container {
        padding: 1em 10%;
    }

    #social>a>img {
        /* width: 1.2em; */
    }

    .schedule-item-time {
        float: none;
        display: block;
        position: inherit;
    }

    .schedule-item-desc {
        display: block;
        margin-left: 20%;
        padding-left: 25px;
        background-size: 20px; 
    }

    .schedule-item-minor {
        text-align: left;
        margin-left: 10px;
    }

    .day-title {
        margin-left: 0;
    }

    .section-title {
        /* font-size: 2em; */
        text-align: left;
        text-indent: 0;
    }

    .banner {
        flex: 0 0 10%;
    }

    #questions {
        margin-right: .5%;
    }

    #story-container {
        font-size: 16px;
    }

    #story-awards-entry {
        padding-left: 40px;
        position: relative;
        left: -30px;
        background-size: 30px;

    }
}


.yellow-lines {


    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    stroke-width: 5px;
    fill-opacity: 0;
    animation: x 10s linear alternate infinite,
        dash 10s linear alternate infinite;
}

.orange-blob {
    animation: scale 0.75s forwards ease-out;
    transform-origin: 100%, 100%;
}

.blue-circle:hover {
    animation: infinite-spinning 1s ease-out alternate infinite;
    transform-origin: 80% 35%;
}

.yellow-circle:hover {
    animation: infinite-spinning 1s linear alternate infinite;
    transform-origin: 80% 35%;
}

.blue-blob {
    animation: hide-object 0.75s forwards ease-out;
}

.dots:hover {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: scale(1.15) rotate(15deg);
    }

    a to {
        -webkit-transform: rotate(-15deg);
    }
}

@keyframes x {
    from {
        stroke: #f3d757;
    }

    to {
        stroke: #f3d757;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 10000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes infinite-spinning {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(9deg);
    }
}

@keyframes infinite-spinning-reverse {
    from {
        transform: rotate(9deg);
    }

    to {
        transform: rotate(-3deg);
    }
}

@keyframes hide-object {
    from {
        transform: translate(-5.5%, -100%);
    }

    to {
        transform: translate(-5.5%, 1%);
    }
}

@keyframes hide-triangles {
    from {
        transform: translate(-6%, 0.1%);
    }

    to {
        transform: translate(-6.55%, 2%);
    }

}


@keyframes scale {
    from {
        transform: scale3d(1.5, 1.5, 1.5);
    }

    to {
        transform: scale3d(1.03, 1.03, 1.03);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}