@font-face {
    font-family: "nobel";
    font-weight: "300"

}

body > div {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    color: #4A4A4A;
    font-family: nobel, sans-serif;
    overflow-x: hidden;
}

/*
.info {
    
}
*/

.questions {
    margin-right: 40%;
    margin-left: 0.5%;
}

.picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 2%;
    flex: auto;
    z-index: -2;
    overflow: hidden;
}

#splash .col-1-3 {
    margin: auto 0;
}

h1 {
    font-family: nobel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 5em;
    margin-bottom: 0.125em;
}

h2 {
    font-family: nobel sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    color: #EA7E3C;
    font-weight: 700;
    margin: 0;
    font-size: 3.5vw;
    font-family: nobel, sans-serif;
}

b {
    font-family: nobel, sans-serif;
    color: #43616D;
    font-size: 1.25vw;
}

a {
    text-decoration: none;
}

#about {
    margin-top: 0.5em;
    margin-bottom: -8%;
    margin-left: 1em;
    padding-top: 20%;
    height: 100%;
}

#faq {
/*    padding-top: 20%;*/
    margin-top: 15%;
    margin-left: 1em;
    background-image: url(assets/1about.png);
    background-size: 180% 225%;
    right: 0;
    top: 0;
    bottom: 0;
}


#faq a {
    color: #f9ac8e;
}

section {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 0;
    display: flex;
    flex-flow: column;
    min-height: 50%;
    margin-top: 1em;
}

section#about {
    font-size: 1.125em;
}

section#faq h3 {
    margin-bottom: 0.75em;
}

.header {
    padding-top: 2em;
    flex: 0 1 auto;
    z-index: -1
}

#logo {
    margin-top: 7%;
    height: 10vh;
}

.container {
    flex: 1 1 auto;
    display: flex;
    margin-right: 10%;
    min-height: 100%;
}


.picture-container {
    align-content: center;
    align-items: center;
}
.col-1-2 {
    flex: 1;
    max-width: 50%;
    float: left;
}

.col-1-3 {
    flex: 1.25;
}

.col-2-3 {
    flex: 2;
    margin-right: 20%;
}

#time {
    font-size: 1.2em;
    margin-top: 0;
}

span a {
    color: #43616d;
}

span a:hover {
    color: #f9ac8e;
}

.button {
    display: inline-block;
    border-radius: 75px;
  outline: none;
  font-weight: 500;
  background: #f9ac8e;
  border: none;
  font-size: 2vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid #eee;
  letter-spacing: 0.0625em;
  font: nobel, sans-serif; /* use google font */
  line-height: 2;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 53%;
  margin-top: -20%;
}

.button:before {
    content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
    border-radius: 75px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.button:hover, .button:focus, .button:active {
    color: #f9ac8e;
    cursor: pointer;
}

.button:hover:before, .button:focus:before, .button:active:before {
    -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

p {
    font-family: nobel, sans-serif;
    color: #43616D;
    font-size: 1.25vw;
}

/*
.curtainup:hover{
  -webkit-transform-style: preserve-3d;
}

.curtainup:before,
.curtainup:after{
  -webkit-transform-origin: center center;
  -webkit-transform: scale(1,0);
}


.curtainup:hover:before,
.curtainup:hover:after{
  -webkit-transform: scale(1);
  border-radius: 0;
    cursor: pointer;
}
*/

a {
    color: white;
}
/*

#hero-img, #about-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
*/

#hero-img {
    background-image: url(assets/hero.png);
}

#about-img {
    background-image: url(assets/horizons-logo.png);
    margin-left: 5%;
    margin-top: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: -18%;
}

footer {
    width: 100%;
    font-family: nobel, sans-serif;
    background-color: #f9ac8e;
    padding: 1.5em 10vw 0.5em 10vw;
    color: white;
}

footer p {
    font-family: nobel, sans-serif;
}

#left-footer, #right-footer {
    width: 40vw;
    display: inline-block;
}

#right-footer {
    text-align: right;
    vertical-align: top;
}

#right-footer img {
    height: 1.5em;
    position: relative;
    top: 0.25em;
}

.social > a {
    margin: 0.25em;
}

.social > a > img {
    width: 2em;
    transform: scale(1) rotate(0deg);
    transition: 0.25s transform;
}

.logo-name {
    font-family: 'Barlow'; sans-serif;
}


.social > a > img:hover {
    transform: scale(1.15) rotate(15deg);
}

.info-container {
    margin-right: -12.5%;
    margin-top: 5%;
}

@media only screen and (min-width: 981px) {

    #about .col-2-3 {
/*        margin-right: 2em;*/
        padding-top: 5%;
    }
    
    .info {
        margin-top: -5%;
    }
    
    h3 {
        font-size: 5vw;
    }

    #about .col-1-3 {
/*        margin: auto 0;*/
        padding-top: 5%;
        margin-bottom: 2em;
    }
    
    #faq {
        margin-top: 2em;
    }

    .col-1-2 > div {
        margin-right: 8em;
    }
    
    #about-img {
        background-image: url(assets/horizons-logo.png);
    }
    
    section #about {
        min-height: 60%;
        
    }
    
}

@media only screen and (max-width: 980px) {

    .container {
        flex-flow: column;
        margin-right: 15%;
        min-height: 100%;
    }
    
    p {
        font-size: 3vw;
    }
    
    b {
        font-size: 3vw;
    }
    
    h3 {
        font-size: 5.5vw;
    }
    
    #about-img {
        background-image: url(assets/horizons-logo.png);
    }
    
    #about {
        padding-top: 5%;
        margin-left: 12.5%;
        left: 0;
        margin-bottom: -65%;
    }
    
    section #about {
        min-height: 60%;
        
    }
    
    .info {
        margin-top: -5%;
    }

    .button {
        margin: 1em auto;
        display: block;
        font-size: 3vw;
    }

    #splash .col-1-3 {
        padding-bottom: 4em;
    }

    #splash .col-1-3 > * {
        text-align: center;
    }

    .col-2-3 {
        margin-top: 1em;
        order: -1;
        margin-left: -2em;
        margin-right: -2em;
        min-height: 30%;
        max-height: 30%;
    }

    .col-1-3 {
        margin-bottom: 1em;
        order: 1;
    }

    .col-1-2 {
        max-width: 100%;
    }

    #logo {
        height: 5vh;
    }

/*
    body {
        font-size: 3vw;
    }
*/

    h1 {
        letter-spacing: 0.1em;
        font-size: 4em;
    }

    #left-footer, #right-footer {
        width: 80vw;
        display: block;
    }

    #right-footer {
        text-align: left;
    }

    .button{
        width: 40%;
    }
    
    #faq {
        margin-top: 3em;
    }
    
    .info-container {
        margin-top: 16%;
    }
}

    .yellow-lines { 
        
        
        stroke-dasharray: 10000;
		stroke-dashoffset: 10000;
        stroke-width: 5px;
        fill-opacity: 0;
        animation: x 10s linear alternate infinite,
                    dash 10s linear alternate infinite;
    }

    .orange-blob {
        animation: scale 0.75s forwards ease-out;
        transform-origin: 100%, 100%;
    }
    
    .blue-circle:hover{
        animation: infinite-spinning 1s ease-out alternate infinite;
        transform-origin: 80% 35%;
    }
    .yellow-circle:hover{
        animation: infinite-spinning 1s linear alternate infinite;
        transform-origin: 80% 35%;
    }
        
    .blue-blob {
        animation: hide-object 0.75s forwards linear; 
    }
    .dots:hover {
           -webkit-animation: rotation 2s infinite linear; 
    }
    @-webkit-keyframes rotation {
		from {
				-webkit-transform: scale(1.15) rotate(15deg);
		}a
		to {
				-webkit-transform: rotate(-15deg);
		}
    }

        @keyframes x {
           from {  
                stroke: #f3d757;
                    }
             to {  stroke: #f3d757; }
        }
        	
        @keyframes dash {
            from {
                stroke-dashoffset: 10000;
            } to {
                stroke-dashoffset: 0;
            }
	   }
        
    @keyframes infinite-spinning {
         from {
           transform: rotate(-3deg);
         }
         to {
           transform: rotate(9deg);
         }
    }
    @keyframes infinite-spinning-reverse {
         from {
           transform: rotate(9deg);
         }
         to {
           transform: rotate(-3deg);
         }
    }
        
    @keyframes hide-object {
        from {
            transform: translate(-5.5%, -100%);
        } to {
            transform: translate(-5.5%, 1%);
        }
    }
        
@keyframes hide-triangles {
    from {
        transform: translate(-6%, 0.1%);
    } to {
        transform: translate(-6.55%, 2%);
    }
        
}
    
        
@keyframes scale {
    from {
        transform: scale3d(1.5, 1.5, 1.5);
    } to {
        transform: scale3d(1.03, 1.03, 1.03);
    }
}
    
@keyframes opacity {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}